@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,900&display=swap");

@font-face {
  font-family: "barlow-medium";
  src: url(../resources/fonts/barlow/Barlow-Medium.ttf);
}

@font-face {
  font-family: "tungsten-bold";
  src: url(../resources/fonts/Tungsten-Bold.otf);
}

:root {
  --color-redValorant: #ff4655;
  --color-beige: #ece8e1;
  --color-beigeLight: rgba(255, 255, 255, 0.5);
  --color-black: #0f1923;
  --color-blackLight: rgba(0, 0, 0, 0.2);
  --color-grey: #383e3a;
  --font-tungsten: "tungsten-bold", Arial, sans-serif;
  --font-barlowBold: "Barlow", sans-serif;
  --font-barlowMedium: "barlow-medium", sans-serif;
}

main {
  font-family: var(--font-barlowBold);
  background-color: var(--color-beige);
  /* font-size: 150px;
    border: 1px solid red;
    -webkit-text-stroke-color: #dbd8d2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px; */
  /* padding-top: 80px; */
}

/* ===========GLOBAL BUTTON========= */
.button {
  width: 255px;
  height: 65px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.button__borderTop {
  width: 100%;
  height: 45%;
  position: absolute;
  border-top: 1px solid #ece8e184;
  border-left: 1px solid #ece8e184;
  border-right: 1px solid #ece8e184;
  align-self: flex-start;
}

.button__borderBottom {
  width: 100%;
  height: 45%;
  position: absolute;
  border-bottom: 1px solid #ece8e184;
  border-left: 1px solid #ece8e184;
  border-right: 1px solid #ece8e184;
  align-self: flex-end;
}

.button__child {
  border: none;
  width: 240px;
  height: 50px;
  background-color: var(--color-redValorant);
  /* color: var(--color-beige);
    font-family: var(--font-barlowMedium);
    font-weight: 700;
    font-size: .9rem; */
  position: relative;
  overflow: hidden;
}

.button__child::before {
  content: "";
  width: 115%;
  height: 104%;
  background-color: var(--color-black);
  position: absolute;
  top: -1px;
  left: -115%;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  transition: left 0.25s linear;
}

.button:hover > .button__child::before {
  left: 0;
}

.button__child::after {
  content: "PLAY FREE";
  font-family: var(--font-barlowMedium);
  width: 100%;
  height: 100%;
  color: var(--color-beige);
  font-weight: 700;
  font-size: 0.9rem;
  background-color: transparent;
  position: absolute;
  line-height: 50px;
  top: 0;
  left: 0;
}

.button__square {
  content: "";
  background-color: var(--color-black);
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  right: 0;
  transition: background-color 0.25s;
}

.button__child:hover > .button__square {
  background-color: var(--color-beige);
}

/* ========= HERO ========= */
.hero {
  width: 100vw;
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__video {
  width: 100%;
}

.hero__text {
  position: absolute;
  /* bottom: 50%; */
  /* transform: translateY(-50%); */
  border-left: 1px solid var(--color-beigeLight);
  border-right: 1px solid var(--color-beigeLight);
  width: 80%;
  height: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__line {
  position: absolute;
  width: 40%;
  height: 100%;
  border-left: 1px solid var(--color-beigeLight);
}

.hero__polygon1 {
  width: 23px;
  height: 23px;
  clip-path: polygon(0 18%, 60% 18%, 100% 53%, 60% 88%, 0 87%);
  background-color: var(--color-redValorant);
  align-self: start;
  position: absolute;
  top: 150px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero__subtitle {
  color: var(--color-beige);
  font-weight: 500;
  font-size: 1rem;
}

.hero__valorant {
  width: 100%;
  padding: 50px 0;
}

.hero__polygon2 {
  width: 50px;
  height: 50px;
  background-color: var(--color-beige);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ======== HERO RESPONSIVE ======= */

@media screen and (max-width: 1100px) {
  .hero {
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    min-width: 100vw;
    overflow: hidden;
  }

  .hero__video {
    width: 1350px;
    /* overflow: hidden; */
  }

  .hero__text {
    width: 80vw;
    border-right: none;
    justify-content: space-between;
  }

  .hero__line {
    display: none;
  }

  .hero__polygon1 {
    display: none;
  }

  .hero__title {
    flex-direction: column-reverse;
  }

  .hero__subtitle {
    text-align: center;
  }

  .hero__valorant {
    max-width: 300px;
    min-width: 200px;
    padding: 150px 0 20px 0;
  }

  .hero__btnContainer {
    margin-bottom: 50px;
    scale: 1.2;
  }

  .hero__polyContainer {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: transparent;
  }

  .hero__polygon2 {
    width: 10vw;
    height: 10vw;
    bottom: -1px;
  }
}

/* ========== NEWS SECTION=========== */
.news {
  width: 100vw;
  /* height: 550PX; */
  min-height: 510px;
  max-height: 570px;
  background-color: inherit;
  position: relative;
  overflow-y: hidden;
}

.news__background {
  font-size: 18rem;
  color: var(--color-beige);
  text-shadow: 0px 0px 2px #c8c6c1;
  position: absolute;
  line-height: 180px;
  font-weight: 700;
  white-space: nowrap;
}

.news__background1 {
  left: 5%;
}

.news__background2 {
  right: 0;
  top: 230px;
}

.news__container {
  width: 80%;
  max-width: 1300px;
  height: 100%;
  min-height: 510px;
  max-height: 570px;
  border-left: 1px solid var(--color-black);
  margin: auto;
  position: relative;
  display: flex;
}

.news__titleContainer {
  overflow-y: hidden;
  width: fit-content;
  height: fit-content;
  z-index: 10;
}

.news__title {
  font-size: 7rem;
  font-family: var(--font-tungsten);
  /* position: absolute; */
  color: var(--color-redValorant);
  margin-top: 20px;
  margin-bottom: -20px;
}

.news__squareContainer {
  display: flex;
  /* border: 2px solid red; */
  width: 50px;
  height: 10px;
  justify-content: space-between;
  margin: 50px auto;
  justify-self: center;
}

.news__square {
  width: 8px;
  height: 8px;
  background-color: var(--color-redValorant);
}

.news__link {
  /* position: absolute; */
  right: 0;
  display: inline;
  text-decoration: none;
  color: var(--color-redValorant);
  font-weight: 700;
  font-size: 0.9rem;
  padding: 45px 20px;
  z-index: 10;
}

.link__arrow {
  width: 25px;
  margin-left: 10px;
  /* transform: translateX(-5px); */
  transition: transform 0.5s;
}

.news__link:hover > .link__arrow {
  transform: translateX(10px);
}

.news__slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 110px;
  width: 100%;
  height: 100%;
  margin: 0;
  /* border-left: 1px solid var(--color-blackLight); */
  position: absolute;
}

.slider {
  text-decoration: none;
}

.slider__img {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-image: url(../resources/slider-valo1.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.slider__img1 {
  background-image: url(../resources/slider-valo3.PNG);
}
.slider__img2 {
  background-image: url(../resources/slider-valo2.PNG);
}

.slider__img::before {
  content: "";
  width: 115%;
  height: 100%;
  background-color: var(--color-redValorant);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: -120%;
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  transition: left 0.3s;
}

.slider:hover > .slider__img::before {
  left: 0;
}

.slider__date {
  font-size: 0.75rem;
  padding: 20px 0;
  font-weight: 600;
  color: var(--color-black);
}

.slider__category {
  color: var(--color-redValorant);
  padding: 0 0 0 15px;
}

.slider__title {
  color: var(--color-grey);
}

/* ========== NEWS RESPONSIVE ============ */

@media screen and (max-width: 1100px) {
  .news {
    /* background-color: green; */
    /* padding-bottom: 72%; */
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
    overflow: hidden;
  }

  .news__background {
    font-size: 500%;
  }

  .news__container {
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
    /* width: 100%; */
    flex-direction: column;
  }

  .news__titleContainer {
    order: 2;
    margin: 0 0 -17px 0;
  }

  .news__title {
    font-size: 4rem;
    position: inherit;
    margin: 0;
  }

  .news__squareContainer {
    justify-self: flex-start;
    /* position: absolute; */
    align-self: center;
    order: 1;
  }

  .news__link {
    bottom: 0;
    left: 0;
    /* padding: 0; */
    position: inherit;
    justify-self: flex-end;
    order: 4;
    padding: 35px 0;
  }

  .news__slider {
    grid-template-columns: repeat(3, 80vw);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: fit-content;
    width: 100vw;
    position: relative;
    order: 3;
    padding: 0;
  }

  .slider {
    scroll-snap-align: start;
  }
}

/* =========== ACT SECTION ============ */

.act {
  background-image: url(../resources/episode-section-background.jpg);
  width: 100vw;
  background-position: center top;
}

.act__container {
  height: 850px;
  width: 80%;
  max-width: 1300px;
  border-left: 1px solid var(--color-beigeLight);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
}

.act__paragraph {
  color: var(--color-beige);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
}

.act__titleContainer {
  width: fit-content;
  height: fit-content;
  margin: 40px 0 60px;
  overflow-y: hidden;
}

.act__title {
  color: var(--color-beige);
  font-size: 8rem;
  margin-bottom: -25px;
  font-family: var(--font-tungsten);
}

.act__btn::after {
  content: "ACT I OVERVIEW";
}

.act__figures {
  height: 40px;
  width: 100%;
  margin-left: -30px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.act__square1 {
  height: 10px;
  width: 10px;
  background-color: var(--color-redValorant);
}

.act__line {
  height: 4px;
  width: 100px;
  background-color: var(--color-redValorant);
  transform: translateX(150%);
}

.act__square2 {
  width: 15px;
  height: 15px;
  background-color: var(--color-redValorant);
  align-self: flex-end;
}

/* ========== ACT RESPONSIVE ============= */

@media screen and (max-width: 1100px) {
  .act__titleContainer {
    margin-top: 0;
  }

  .act__title {
    font-size: 4rem;
    margin: 0;
  }
}

/* ============OVERVIEW SECTION============= */
.overview {
  width: 100vw;
  height: 970px;
  display: flex;
  /* grid-template-columns: minmax(1fr, auto) minmax(80%, 1300px) 10%; */
  /* position: relative; */
}

.overview__container {
  width: 80%;
  max-width: 1300px;
  height: 100%;
  margin: auto;
  border-left: 1px solid var(--color-grey);
  padding-left: 100px;
  position: relative;
  z-index: 1;
  /* align-self: center; */
  /* justify-self: center; */
}

.overview__topLine {
  height: 50px;
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.overview__titleContainer{
  width: fit-content;
  height: fit-content;
  margin: 40px 0 60px;
  overflow-y: hidden;
}

.overview__title{
  color: var(--color-black);
  font-size: 8rem;
  margin-bottom: -25px;
  font-family: var(--font-tungsten);
}

@media screen and (max-width: 1400px) {
  .overview__titleContainer{
    height: 106px;
    width: 700px;
  }

  .overview__title{font-size: 7rem;}
}

.overview__square{
  width: 14px;
  height: 14px;
  background-color: var(--color-redValorant);
  position: absolute;
  right: 260px;
  top: 70px;
}

.overview__protocol{
  position: absolute;
  right: 0;
  top: 200px;
  transform: rotateY(180deg);
}

.protocol__text{
  font-size: .6rem;
  letter-spacing: 2px;
  color: var(--color-redValorant);
  font-weight: 500;
}

.protocol__line{
  width: 160px;
  height: 4px;
  margin: 7px 5px 0 0;
  background-color: var(--color-redValorant);
}

.overview__content{
  height: fit-content;
  width: 100%;
  display: flex;
  position: relative;
}

.content__squares{
  width: 100px;
  height: 500px;
  position: absolute;
  left: 0;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__square1{
  width: 8px;
  height: 8px;
  background-color: var(--color-redValorant);
}

.content__square2{
  width: 8px;
  height: 8px;
  background-color: var(--color-redValorant);
  align-self: flex-end;
  transform: translateY(50px);
}

.content__square3{
  width: 12px;
  height: 12px;
  background-color: var(--color-redValorant);
}

.content__text{
  width: fit-content;
  max-width: 255px;
  min-width: 200px;
  margin: 0 10%;
}

.content__title{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 20px;
}

.content__paragraph{
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  word-spacing: 3px;
  line-height: 22px;
  margin-bottom: 40px;
}

.content__btnBorderTop{
  border-top:1px solid rgba(0, 0, 0, 0.199);
  border-left:1px solid rgba(0, 0, 0, 0.199);
  border-right:1px solid rgba(0, 0, 0, 0.199);
}

.content__btnBorderBottom{
  border-bottom:1px solid rgba(0, 0, 0, 0.199);
  border-left:1px solid rgba(0, 0, 0, 0.199);
  border-right:1px solid rgba(0, 0, 0, 0.199);
}

.content__btn::after{
  content: 'LEARN THE GAME';
}

.content__gameplay{
  position: relative;
}

.gameplay__squares{
  width: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gameplay__square{
  width: 8px;
  height: 8px;
  background-color: var(--color-redValorant);
}

.gameplay__title{
  background-color: var(--color-redValorant);
  position: absolute;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-beige);
  padding: 4px 17px;
  top: 50px;
  left: -20px;
  z-index: 10;
}

.gameplay__videoContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.gameplay__btn{
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid var(--color-beige);
  background-color: #ff465683;
  overflow: hidden;
}

.gameplay__btn::before{
  content: "";
  width: 120%;
  height: 100%;
  left: -120%;
  top: 0;
  background-color: var(--color-black);
  position: absolute;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  transition: left .2s;
  z-index: 1;
}

.gameplay__videoContainer:hover > .gameplay__btn::before{
  left: 0;
}


.gameplay__btn::after{
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../resources/video-button.svg);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  scale: 1;
  transition: scale .2s;
  /* background-color: var(--color-beige); */
}

.gameplay__videoContainer:hover > .gameplay__btn::after{
  scale: 1.1;
}

.gameplay__video {
  width: 100%;
}
.gameplay__btnSquare{
  width: 4px;
  height: 4px;
  background-color: var(--color-beige);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.gameplay__line{
  width: 100px;
  height: 5px;
  background-color: var(--color-redValorant);
}

.overview__numbers{
  color: rgba(0, 0, 0, 0.1);
  font-size: 3.5rem;
  font-family: var(--font-tungsten);
  border-top: 6px solid rgba(0, 0, 0, 0.1);
  display: inline;
}

.overview__polygon{
  flex-grow: 1;
  height: 50px;
  background-color: var(--color-redValorant);
  align-self: flex-end;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.overview__fill{
  flex-grow: 1;
}

/* ========== OVERVIEW RESPONSIVE ??????=========== */

/* ========== AGENTS SECTIOIN ========= */
.agents{
  width: 100vw;
  height: 860px;
  display: flex;
  background-color: var(--color-redValorant);
}

.agents__background1{
  flex-grow: 1;
  width: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 80px 20px 0 0;
}

.agents__background1Img{
  background-image: url(../resources/background-sprite.png);
  width: 34PX;
  height: 540px;
}

.agents__content{
  max-width: 1300px;
  width: 80%;
  justify-self: center;
  flex-grow: 0;
  border-left: 1px solid var(--color-beigeLight);
  position: relative;
  display: flex;
}

.content__background{
  background-image: url(../resources/agents-background.PNG);
  background-repeat:repeat;
  background-position: center -10px;
  background-size:contain;
  width: 100%;
  height: 90%;
  margin: 60px auto 0;
  position: absolute;
}

.content__models{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid greenyellow;
  position: relative;
}

.content__reyna{
  position: absolute;
  width: 90%;
  left: -20%;
}

.content__raze{
  transform: rotateY(180deg) translateY(80px);
  position: absolute;
  width: 90%;
  right: -20%;
}

.agents__background2{
  width: 10%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.agents__background2Img{
  background-image: url(../resources/background-sprite.png);
  width: 34px;
  height: 540px;
  background-position: 26% top;
  margin: 80px 40px;
}